<!DOCTYPE html> 
<html> 
    <head> 
        <title>Search Results</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head> 
    <body class = "viewBody">
        <h1>Search Players</h1> 
        <table style="width:100%"> 
            <!-- first row of search results is header -->
            <tr> 
              <th>Name</th> 
              <th>ID</th> 
              <th>Points</th> 
            </tr> 
            {%for player in data%} 
            <!-- iterates through displays search results -->
               <tr> 
                 <td>{{player[0]}}</td> 
                 <td>{{player[1]}}</td> 
                 <td>{{player[2]}}</td> 
                </tr> 
            {%endfor%} 
          </table> 

          <!-- return back to home -->
        <button type="button"><a href="{{ url_for('index') }}">Home</a></button>       
    </body> 
</html> 